/**
 * Port of PHP Quick Profiler by Ryan Campbell
 * Original URL: http://particletree.com/features/php-quick-profiler
 */

.profiler { width: 100%; text-align: center; position: fixed; bottom: 0; }
* html .profiler { position: absolute; }
.profiler * { margin: 0; padding: 0; border: none; }
#profiler { margin: 0 auto; width: 85%; min-width: 960px; background-color: #222; border: 12px solid #000; border-bottom: none; font-family:" Lucida Grande", Tahoma, Arial, sans-serif; -webkit-border-top-left-radius: 15px; -webkit-border-top-right-radius: 15px; -moz-border-radius-topleft: 15px; -moz-border-radius-topright: 15px; }
#profiler .profiler-box h3 { font-weight: normal; line-height: 200px; padding: 0 15px; color: #fff; }
.profiler, .profiler td { color: #444; }

/* ----- IDS ----- */
#profiler-container { z-index: 9999; }
#profiler-metrics { background: #000; width: 100%; }

/* ----- Logic ----- */
#profiler,
#profiler-console,
#profiler-speed,
#profiler-queries,
#profiler-memory,
#profiler-files{ display: none; }

.profiler .console,
.profiler .speed,
.profiler .queries,
.profiler .memory,
.profiler .files { display: block !important; }

.profiler .console #profiler-console,
.profiler .speed #profiler-speed,
.profiler .queries #profiler-queries,
.profiler .memory #profiler-memory,
.profiler .files #profiler-files { display: block; }

.console td#console.active,
.speed td#speed.active,
.queries td#queries.active,
.memory td#memory.active,
.files td#files.active { background: #222 !important; border-bottom: 6px solid #fff !important; cursor: default !important; }

.hideDetails #profiler .profiler-box { display: none; }
.hideDetails #profiler-footer { border-top: 1px dotted #444; }
.hideDetails #profiler #profiler-metrics td { height: 50px; }
.hideDetails #profiler var { font-size: 18px; margin: 0 0 2px 0; }
.hideDetails #profiler h4 { font-size: 10px; }

/* ----- Metrics ----- */
#profiler-metrics td { height: 80px; width: 20%; text-align: center; cursor: pointer; border: 1px solid #000; border-bottom: 6px solid #444; }
#profiler-metrics td:hover { background: #222; border-bottom: 6px solid #777; }
#profiler-metrics #console { border-left: none; }
#profiler-metrics #files { border-right: none; }
#profiler-metrics h4 { text-shadow: #000 1px 1px 1px; }
.side var { text-shadow: #444 1px 1px 1px; }
.profiler var { font-size: 23px; font-weight: bold; font-style: normal; margin: 0 0 3px 0; display: block; }
.profiler h4 { font-size: 12px; color: #fff; margin: 0 0 4px 0; }

/* ----- Main ----- */
.profiler .main { width: 80%; }
*+html .profiler .main { width: 78%; }
* html .profiler .main { width: 77%; }
.profiler .main td { padding: 7px 15px; text-align: left; background: #151515; border-left: 1px solid #333; border-right: 1px solid #333; border-bottom: 1px dotted #323232; color: #FFF; }
.profiler .main td, pre { font-family: Monaco, "Consolas", "Lucida Console", "Courier New", monospace; font-size: 11px; }
.profiler .main td.alt { background: #111; }
.profiler .main tr.alt td { background: #2E2E2E; border-top: 1px dotted #4E4E4E; }
.profiler .main tr.alt td.alt { background: #333; }
.profiler .main td b { float: right; font-weight: normal; color: #E6F387; }
.profiler .main td:hover { background: #2E2E2E; }

/* ----- Side ----- */
.profiler .side { float: left; width: 20%; color: #fff; text-align: center; }
.profiler .side var { color: #fff; font-size: 15px; }
.profiler .side h4 { font-weight: normal; color: #F4FCCA; font-size: 11px; }

/* ----- Console ----- */
#profiler-console .side td { padding: 12px 0; }
#profiler-console .side td.console-log { background: #588E13; width: 51%; }
#profiler-console .side td.console-errors { background-color: #B72F09; }
#profiler-console .side td.console-memory { background: #D28C00; border-left: 1px solid #9C6800; }
#profiler-console .side td.console-speed { background-color: #3769A0; border-bottom: 1px solid #274B74; }
#profiler-console .side td.console-benchmarks { background: #84A360 ; width: 51%; }
#profiler-console .side td.selected { background: #333; }
#profiler-console .main table { width: 100%; }
#profiler-console td div { width: 100%; overflow: hidden; }
#profiler-console td.type { font-family: "Lucida Grande", Tahoma, Arial, sans-serif; text-align: center; text-transform: uppercase; font-size: 9px; padding-top: 9px; color: #F4FCCA; vertical-align: top; width: 40px; }
.profiler .log-benchmark td.type { background: #84A360 !important; }
.profiler .log-log td.type { background: #47740D !important; }
.profiler .log-error td.type { background: #9B2700 !important; }
.profiler .log-memory td.type { background: #D28C00 !important; }
.profiler .log-speed td.type { background: #2B5481 !important; }
.profiler .log-log pre { color: #999; }
.profiler .log-log td:hover pre { color: #fff; }
.profiler .log-benchmark em,
.profiler .log-memory em,
.profiler .log-speed em { float: left; font-style: normal; display: block; color: #fff; }
.profiler .log-benchmark pre,
.profiler .log-memory pre,
.profiler .log-speed pre { float: right; white-space: normal; display: block; color: #FFFD70; }

/* ----- Speed ----- */
#profiler-speed .side td { padding: 12px 0; }
#profiler-speed .side { background-color: #3769A0; }
#profiler-speed .side td.alt { background-color: #2B5481; border-left: 1px solid #1E3C5C; }

/* ----- Queries ----- */
#profiler-queries .side { background-color: #953FA1; }
#profiler-queries .side td.alt { background-color: #7B3384; }
#profiler-queries .main b { float: none; }
#profiler-queries .main em { display: block; padding: 2px 0 0 0; font-style: normal; color: #aaa; }

/* ----- Memory ----- */
#profiler-memory .side td { padding:12px 0; }
#profiler-memory .side { background-color: #C48200; }
#profiler-memory .side td.alt { background-color: #AC7200; border-left: 1px solid #865900; }

/* ----- Files ----- */
#profiler-files .side { background-color: #B72F09; }
#profiler-files .side td.alt { background-color: #9B2700; }

/* ----- Footer ----- */
#profiler-footer { width: 100%; background: #000; font-size: 11px; border-top: 1px solid #ccc; }
#profiler-footer td { padding: 0 !important; border: none !important; }
#profiler-footer strong { color: #fff; }
#profiler-footer a { color: #999; padding: 5px 10px; text-decoration: none; }
#profiler-footer .credit { width: 20%; text-align: left; }
#profiler-footer .actions { width: 80%; text-align: right; }
#profiler-footer .actions a { float: right; width: auto; }
#profiler-footer a:hover,
#profiler-footer a:hover strong,
#profiler-footer a:hover b { background: #fff; color: blue !important; text-decoration: underline; }
#profiler-footer a:active,
#profiler-footer a:active strong,
#profiler-footer a:active b { background: #ECF488; color: green !important; }